.footer {
  background-color: $purple;
  padding: 2rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;


  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    a {
      margin: 0.4rem;
    }
    .svg {
      width: 1.5rem;
      fill: #fff;
    }
  }

}
